<!DOCTYPE html>
<html class="no-js ui-mobile-rendering" lang="es">
<head>
  <title>MicroServicios Ciencia de Datos - Armada Nacional | Protegemos el Azul de la Bandera</title>
  <link rel="shortcut icon" type="image/x-icon" href="{{url_for('static', filename = 'resources/img/armada.ico')}}">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="{{url_for('static', filename = 'resources/js/jquery.min.js')}}"></script>
  <script src="{{url_for('static', filename = 'resources/js/bootstrap.min.js')}}"></script>
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'resources/css/bootstrap.min.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'resources/css/styles_login.css')}}">
  <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'resources/css/styles_mobile.css')}}">
</head>
<body>
</body>
</html>